/* CSS RESET */
#transloadit,#transloadit *,#transloadit a:hover,#transloadit a:visited,#transloadit a:active{
  background:none;
  border:none;
  bottom:auto;
  clear:none;
  cursor:default;
  float:none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:medium;
  font-style:normal;
  font-weight:normal;
  height:auto;
  left:auto;
  letter-spacing:normal;
  line-height:normal;
  max-height:none;
  max-width:none;
  min-height:0;
  min-width:0;
  overflow:visible;
  position:static;
  right:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:none;
  top:auto;
  visibility:visible;
  white-space:normal;
  width:auto;
  z-index:auto;
}

#transloadit{
  position: fixed !important;
  top: 50% !important;
  left: 0px !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 1px !important;
  overflow: visible !important;
  visibility: visible !important;
  display: block !important;
}
#transloadit, #transloadit label{
  font-family: "Helvetica Neue",Helvetica,sans-serif !important;
}

#transloadit .content{
  margin-left: -155px !important;
  position: absolute !important;
  top: -50px !important;
  left: 50% !important;
  width: 310px !important;
  height: 100px !important;
  visibility: visible !important;
  float: left !important;
}
#transloadit .error{
  text-align: center !important;
  margin: 25px 0 0 0 !important;
}
#transloadit .error-details{
  font-size: 11px!important;
  line-height: 12px!important;
  margin-top: 10px!important;
  padding-top: 10px!important;
  border-top: 1px solid #666!important;
}
#transloadit .error-details-toggle{
  display: none;
  text-align: center!important;
  margin-top: 10px!important;
}
#transloadit .error-details-toggle a{
  font-size: 10px!important;
  color: #666!important;
}
#transloadit .error-details-toggle a:hover{
  cursor: pointer !important;
  color: #333!important;
}

#transloadit a.close, #transloadit a.close:visited, #transloadit a.close:active{
  font-size: 10px!important;
  float: right!important;
  color: #666!important;
  opacity: 1.0!important;
  padding-left: 14px!important;
  background: url(img/close2.png) no-repeat left 0px!important;
}
#transloadit a.close:hover{
  cursor: pointer !important;
  color: #333!important;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

#transloadit .progress {
  height: 30px;
  width: 310px;
  margin: 15px 0 10px 0!important;
  position: relative;
  overflow: hidden;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#transloadit .progress span {
  float: right!important;
  margin: 7px 7px 0 0!important;
  color: #fff!important;
}

#transloadit .progress .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: none!important;
     -moz-transition: none!important;
       -o-transition: none!important;
          transition: none!important;
}

#transloadit .progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
}

#transloadit .progress.active .bar {
  opacity: 0.7;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}

#transloadit label{
  margin: 0!important;
  z-index: 999!important;
  padding: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  text-align: center !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: normal !important;
  color: #333!important;
}
#transloadit .job_progress span{background-color: #B5E000 !important;}
#transloadit .job_error span{background-color: #E40000 !important;}
#transloadit_expose{background:#fff !important;}

.transloadit-drop-area {
  padding: 5px;
  width: 200px;
  height: 75px;
  border: 2px dashed #ccc;
}
.transloadit-drop-area.hover {
  border: 2px dashed #0af;
}
